<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Lovers</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h4>Coding Lovers</h4>
            <div class="image">
                <img src="https://github.com/OFFICIALamir/OFFICALamir/assets/122598914/1641f0b6-724c-4ce5-8831-e7a75dec1e51" alt="َAmir when coding:">
            </div>
        </div>
    </div>
</body>
</html>